<?xml version="1.0"?>
<launch>
  <arg name="robot" default="iiwa_2" />
  <arg name="headless" default="true"/>
  <!-- call the path planner three times and take the median as duration -->
  <arg name="run_three_times" default="false"/>
  <arg name="grasp_object_dim_x" default="0.06" />
  <arg name="grasp_object_dim_y" default="0.07" />
  <arg name="grasp_object_dim_z" default="0.04" />
  
  <!-- Start 2D pose  -->
  <arg name="start_pos_x" default="-0.372" />
  <arg name="start_pos_y" default="0.515" />
  <arg name="start_pos_theta" default="0.00" />
  <!-- Goal 2D pose  -->
  <arg name="goal_pos_x" default="0.0" />
  <arg name="goal_pos_y" default="-0.505" />
  <arg name="goal_pos_theta" default="0.0" />

  <node ns="$(arg robot)" name="planning_iface" pkg="rll_planning_project" type="planning_iface" respawn="false" output="screen">
    <remap from="/use_sim_time" to="/$(arg robot)/use_sim_time" />
    <remap from="/clock" to="/$(arg robot)/clock" />
    <param name="headless" value="$(arg headless)"/>
    <param name="run_three_times" value="$(arg run_three_times)"/>
    <param name="start_pos_x" value="$(arg start_pos_x)"/>
    <param name="start_pos_y" value="$(arg start_pos_y)"/>
    <param name="start_pos_theta" value="$(arg start_pos_theta)"/>
    <param name="grasp_object_dim_x" value="$(arg grasp_object_dim_x)"/>
    <param name="grasp_object_dim_y" value="$(arg grasp_object_dim_y)"/>
    <param name="grasp_object_dim_z" value="$(arg grasp_object_dim_z)"/>
    <param name="goal_pos_x" value="$(arg goal_pos_x)"/>
    <param name="goal_pos_y" value="$(arg goal_pos_y)"/>
    <param name="goal_pos_theta" value="$(arg goal_pos_theta)"/>

    <remap from="joint_states" to="/$(arg robot)/joint_states_combined" />
  </node>

</launch>
